<div class=" d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Sku</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Initial Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{productDao.sku}}</td>
                        <td>{{productDao.name}}</td>
                        <td>{{productDao.description}}</td>
                        <td>{{productDao.initial_stock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>