<!-- 
 <h2>Login Component</h2>
<div class="col-6">
    <form class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
          <label for="autoSizingInput">Email</label>
          <input type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" required>
        </div>        
        <div class="col-auto">
            <label for="autoSizingInput">Password</label>
            <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" required>
        </div> 
        <div class="col-auto">
            <label for="autoSizingInput">Role</label>
            <select [(ngModel)]="user.role">
              <option value="ADMIN">ADMIN</option>
              <option value="STAFF">STAFF</option>
            </select>
             <input type="text" [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}"> 
        </div>
        <div class="col-auto">
          <button type="submit" (click)="LoginUser()" class="btn btn-primary">Submit</button>
        </div>
      </form>
  </div> 
-->


  <div class="container mt-5" style="max-width: 400px;">
    <h3 class="mb-4 text-center">Login</h3>
    <form [formGroup]="myForm">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="text" formControlName="email" [(ngModel)]="user.email" class="form-control" placeholder="Enter email"/>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password"  [(ngModel)]="user.password" class="form-control" placeholder="Password" />
      </div>
  
      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-select" formControlName="role" [(ngModel)]="user.role" >
          <option value="ADMIN">ADMIN</option>
          <option value="STAFF">STAFF</option>
        </select>
      </div>
  
      <button type="submit" (click)="LoginUser()" class="btn btn-primary w-100">Login</button>
    </form>
  </div>